body {
    background-image: url('../images/cl01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.container {
    width: 45vw;
}

.custom-font {
    font-family: Montserrat;
}