body {
    background-image: url('../images/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.seat-container {
    width: 45vw;
    border: 2px groove white;
}

.custom-font {
    font-family: Montserrat;
}

div.seat-container {
    margin-top: 2rem;
}

div.title-container {
    margin-top: 4%;
}

div.dateForm-container {
    width: 29vw;
}

#btnCheckDate {
    width: 7rem;
}

.btn-group-vertical label {
    background-color: light;
}

.navbar-nav a:hover {
    color: cyan !important;
}

.btn-group-vertical .btn-outline-info:hover {
    background-color: #17a2b8;
    color: #fff;
}