body {
    background-image: url('../images/main_bg.jpg');
    background-size: cover;
}

div.cards-row {
    width: 70vw;
}

div.card-background {
    background-color: rgba(40, 215, 238, 0.68);
}

.custom-font {
    font-family: Montserrat;
}

div.wc-message p {
    font-size: 65px;
    font-family: Montserrat;
    letter-spacing: 4px;
    text-align: center;
}

div.wc-message {
    width: 60vw;
    margin: 5% 0 0;
}