body {
    background-image: url('../images/register_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.cards-row {
    width: 70vw;
}

div.card-background {
    background-color: rgba(40, 164, 226, 0.68);
}

.custom-font {
    font-family: Montserrat;
}