body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(42,135,157,1) 100%, rgba(0,212,255,1) 100%);
}

div.cards-row {
    width: 70vw;
}

div.card-background {
    background-color: rgba(40, 215, 238, 0.68);
}

.custom-font {
    font-family: Montserrat;
}

div.wc-message p {
    font-size: 65px;
    font-family: Montserrat;
    letter-spacing: 4px;
    text-align: center;
}

div.wc-message {
    width: 60vw;
    margin: 5% 0 0;
}

.navbar-nav a:hover {
    color: cyan !important;
}