div.container{
    width: 30vw;
    border: 1px solid black;
}

body {
    background-image: url('../images/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-font {
    font-family: Montserrat;
}

div.container-login {
    margin-top: 12rem;
}