.custom-font-header {
    font-family: Montserrat;
    font-size: 50px;
    letter-spacing: 5px;
}

.custom-font {
    font-family: Montserrat;
}

.custom-font-content {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(42,135,157,1) 100%, rgba(0,212,255,1) 100%);
}

hr.hr-title{
    width: 90vw;
}

hr.hr-reservations {
    width: 80vw;
}

.navbar-nav a:hover {
    color: cyan !important;
}
