div.container{
    width: 30vw;
    border: 1px solid black;
}

body {
    background-image: url('../images/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#emailinput::placeholder {
    color:rgb(160, 160, 160);
}

.custom-font {
    font-family: Montserrat;
}

div.container-register {
    margin-top: 12%;
}

.navbar-nav a:hover {
    color: cyan;
}

